<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @book.name %>
  <br>
  <strong>content:</strong>
  <%= @book.content %>
  <br>
  <strong>quanity:</strong>
  <%= @book.quanity %>
  <br>
  <strong>status:</strong>
  <%= @book.status %>
  <br>
  <strong>rate_average:</strong>
  <%= @book.rate_average %>
  <br>
</p>
